[submodule "let"]
	path = packages/let
	url = git@github.com:evanberkowitz/mma-let.git
[submodule "sprintf"]
	path = packages/sprintf
	url = git@github.com:evanberkowitz/mma-sprintf.git
[submodule "dashed-tubes"]
	path = packages/dashed-tubes
	url = git@github.com:evanberkowitz/mma-dashed-tubes.git
[submodule "plot-markers"]
	path = packages/markers
	url = git@github.com:evanberkowitz/PolygonPlotMarkers.git
